In [33]:
import pandas as pd
import numpy as np

In [3]:
data = pd.Series([1,2,3,4,5])
print(type(data))

<class 'pandas.core.series.Series'>

In [6]:
type(data.values), data.values

(numpy.ndarray, array([1, 2, 3, 4, 5], dtype=int64))

In [7]:
type(data.index), data.index

(pandas.core.indexes.range.RangeIndex, RangeIndex(start=0, stop=5, step=1))

In [8]:
data=pd.Series([5,4,6,3,1],index=['one','two','three','four','five'])
data

one      5
two      4
three    6
four     3
five     1
dtype: int64

In [10]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [11]:
population_dict={'bj':3000,'gz':1500,'sh':2800,'sz':1200}
population_series=pd.Series(population_dict)
population_series

bj    3000
gz    1500
sh    2800
sz    1200
dtype: int64

In [12]:
sub_series=pd.Series(population_dict,index=['bj','sh']) #如果存在取交集
sub_series

bj    3000
sh    2800
dtype: int64

In [13]:
sub_series=pd.Series(population_dict,index=['bj','xa']) #如果不存在则值为NaN
sub_series

bj    3000.0
xa       NaN
dtype: float64

In [14]:
data=pd.Series(10,index=[4,3,2,5])
data

4    10
3    10
2    10
5    10
dtype: int64

In [17]:
population_dict={'beijing':3000,'shanghai':1200,'guangzhou':1800}
area_dict={'beijing':300,'guangzhou':200,'shanghai':180}
population_series=pd.Series(population_dict)
area_series=pd.Series(area_dict)
citys=pd.DataFrame({'area':area_series,'population':population_series})
citys

           area  population
beijing     300        3000
guangzhou   200        1800
shanghai    180        1200

In [21]:
type(citys.values) ,citys.values.shape, citys.values

(numpy.ndarray, (3, 2), array([[ 300, 3000],
        [ 200, 1800],
        [ 180, 1200]], dtype=int64))

In [22]:
type(citys.index), citys.index

(pandas.core.indexes.base.Index,
 Index(['beijing', 'guangzhou', 'shanghai'], dtype='object'))

In [23]:
type(citys.columns), citys.columns

(pandas.core.indexes.base.Index, Index(['area', 'population'], dtype='object'))

In [24]:
population_dict={'beijing':3000,'shanghai':1200,'guangzhou':1800}
area_dict={'beijing':300,'shanghai':180,'guangzhou':200}
data=pd.DataFrame([population_dict,area_dict])
data

   beijing  guangzhou  shanghai
0     3000       1800      1200
1      300        200       180

In [25]:
population_dict={'beijing':3000,'shanghai':1200,'guangzhou':1800}
area_dict={'beijing':300,'shanghai':180,'guangzhou':200}
data=pd.DataFrame([population_dict,area_dict], index=['population','area'])
data

            beijing  guangzhou  shanghai
population     3000       1800      1200
area            300        200       180

In [28]:
population_series=pd.Series(population_dict)
# pd.DataFrame(population_series,columns=['population'])
pd.DataFrame({'population':population_series})

           population
beijing          3000
guangzhou        1800
shanghai         1200

In [32]:
pd.DataFrame([{'a':i,'b':i*2} for i in range(3)], index=['一','二','三'])

   a  b
一  0  0
二  1  2
三  2  4

In [37]:
pd.DataFrame(np.random.randint(0, 100, (4,3)), index=['a','b','c','d'], columns=['a','b','c'])

    a   b   c
a  88  59  18
b  35  95  79
c  18  26  18
d  12  70  63

In [38]:
data=pd.Series([4,3,25,2,3],index=list('abcde'))
display('根据key获取：',data['a'])
display('切片获取：',data['a':'d'])
display('索引获取：',data[1])
display('索引切片：',data[2:4])

'根据key获取：'

4

'切片获取：'

a     4
b     3
c    25
d     2
dtype: int64

'索引获取：'

3

'索引切片：'

c    25
d     2
dtype: int64

In [39]:
data=pd.Series([5,6,7,8],index=[1,2,3,4])
data[1]

5

In [40]:
data.loc[1]

5

In [41]:
data.iloc[1]

6